<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="http://i.imgur.com/rjYopIU.png" class="img-responsive-logo max-height"  />
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)" class="navbar-link">
                </a>
            </p>
        </div>
    </div>
</nav>-->
<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/login">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a href="#/register" class="font-color"><span class="glyphicon glyphicon-user font-color"></span> Sign Up</a>
    </div>
</div>

<div class="container nav-top-space">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h2 class="font-styles font-color">Login</h2>
    <div ng-class="{'has-error':model.userError}">
        <input ng-model="username" type="text"
               class="form-control"
               placeholder="username" name="username"/>
    </div>
    <div ng-class="{'has-error':model.passError}">
        <input ng-model="password" type="password"
               class="form-control"
               placeholder="password"/>
    </div>
    <a ng-click="model.login(username,password)" class="btn btn-primary btn-block font-styles">Login</a>
    <a class="btn btn-success btn-block font-styles"
       href="#/register">Register</a>
</div>
