<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/user">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a ng-click="model.logout()" class="font-color"><span class="glyphicon glyphicon-minus-sign font-color"></span> Sign Out</a>
    </div>
</div>
<div class="container">
    <div ng-show="model.success" class="alert alert-success alert-dismissible" role="alert">
        {{model.success}}
    </div>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <ul class="list-inline">
        <li class="formdata">
            <h3 class="font-styles font-color">Profile</h3>
        </li>
        <li class="pull-right formdata">
            <a href="#/user/{{model.user._id}}/view/{{model.user._id}}">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </li>
        <li class="pull-right formdata">
            <a ng-click="enable=!enable" ng-init="enable=true">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </li>
        <li class="pull-right formdata">
            <span ng-if="!enable">
            <a ng-click="enable=!enable;model.updateUser(model.user)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
            </a>
            </span>
        </li>
    </ul>

    <form>
        <div class="form-group row">
            <label for="email" class="col-sm-2 form-control-label push-left">Email address</label>
            <div class="col-sm-8">
                <input ng-disabled="enable"
                       ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label push-left" for="first-name">First Name</label>
            <div class="col-sm-8">
                <input ng-disabled="enable"
                       ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label push-left" for="last-name">Last Name</label>
            <div class="col-sm-8">
                <input ng-disabled="enable"
                       ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label push-left" for="gender">Gender</label>
            <div class="col-sm-2">
                <select ng-disabled="enable"
                        ng-model="model.user.gender" id="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <label class="col-sm-2 form-control-label " for="dob">Date of Birth</label>
            <div class="col-sm-4">
                <input ng-disabled="enable"
                       ng-model="model.user.dob" type="date" class="form-control" id="dob" placeholder="01/01/2000">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label push-left" for="company">Company</label>
            <div class="col-sm-8">
                <input ng-disabled="enable"
                       ng-model="model.user.company" type="text" class="form-control" id="company" placeholder="Student/Employer Name">
            </div>
        </div>
        <div ng-switch="model.user.accountType">
            <div ng-switch-when="Applicant">
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label push-left" for="skills">Skills</label>
                    <div class="col-sm-8">
                        <input ng-disabled="enable"
                               ng-model="model.user.skills" type="text" class="form-control" id="skills" placeholder="Java,C++">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div ng-switch="model.user.accountType">
        <div ng-switch-when="Applicant">
            <form action="/proj/uploadResume"  method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label push-left" for="company">Resume</label>
                    <div class="col-sm-8">
                        <input  name="myResume"   type="file" class="form-control"/>
                    </div>
                    <div class="col-sm-2">
                        <input  name="userId" value="{{model.user._id}}"   style="display: none"/>
                    </div>
                    <div class="col-sm-8">
                        <button type="submit"   class="btn btn-block btn-primary">Upload Resume</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form action="/proj/upload"  method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label push-left" for="company">Profile Image</label>
            <div class="col-sm-8">
                <input  name="myFile"   type="file" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <input  name="userId" value="{{model.user._id}}"   style="display: none"/>
            </div>
            <div class="col-sm-8">
                <button type="submit"   class="btn btn-block btn-primary">Upload Profile Image</button>
            </div>
        </div>
    </form>
    <br>
    <div ng-switch="model.user.accountType">
        <div ng-switch-when="Applicant">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#/user/{{model.user._id}}/jobsearch">Search Jobs</a></li>
                <li><a href="#/user/{{model.user._id}}/myjobs">Applied Jobs</a></li>
                <li><a href="#/user/{{model.user._id}}/selectedjobs">Selected Jobs</a></li>
                <li><a href="#/user/{{model.user._id}}/myconnections">My Connections</a></li>
                <li><a href="#/user/{{model.user._id}}/view">Add Connections</a></li>
            </ul>
        </div>
        <div ng-switch-when="Employer">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#/user/{{model.user._id}}/postedJob/new">Post a Job</a></li>
                <li><a href="#/user/{{model.user._id}}/postedJob">Review Applications</a></li>
                <li><a href="#/user/{{model.user._id}}/myconnections">My Connections</a></li>
                <li><a href="#/user/{{model.user._id}}/view">Add Connections</a></li>
            </ul>
        </div>
    </div>


</div>