<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/user">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a ng-click="model.logout()" class="font-color"><span class="glyphicon glyphicon-minus-sign font-color"></span> Sign Out</a>
    </div>
</div>
<div class="container">
    <div class="form-group row">
        <div ng-show="model.success" class="alert alert-success alert-dismissible" role="alert">
            {{model.success}}
        </div>
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <label class="col-sm-2 form-control-label push-left">Full Name</label>
        <label class="form-control-label col-sm-2">
                {{model.profile.firstName}} {{model.profile.lastName}}
        </label>

    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label push-left">Type    </label>
            <label class="form-control-label col-sm-3">
                {{model.profile.accountType}}
            </label>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label push-left" for="organisation">Company </label>
            <label class="form-control-label col-sm-3" id="organisation" >
                {{model.profile.company}}
            </label>
    </div>
    <div> <a ng-click="model.addConnection()" class="btn btn-primary">Follow!</a></div>
</div>
