<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/user/{{model.userId}}">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a href="#/home" class="font-color"><span class="glyphicon glyphicon-minus-sign font-color"></span> Sign Out</a>
    </div>
</div>
<div class="container">
    <div>{{model.jobDetail.jobtitle}}</div>
    <div>{{model.jobDetail.company}}</div>
    <div>{{model.jobDetail.snippet}}</div>
</div>