<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/user">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a ng-click="model.logout()" class="font-color"><span class="glyphicon glyphicon-minus-sign font-color"></span> Sign Out</a>
    </div>
</div>
<div class="container">
    <div ng-show="model.success" class="alert alert-success alert-dismissible" role="alert">
        {{model.success}}
    </div>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-8">
        <h4>{{model.jobDetail.jobtitle}}</h4>
        <p><strong>Company: </strong> {{model.jobDetail.company}} </p>
        <p><strong>Description: </strong> {{model.jobDetail.snippet}} </p>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a ng-click="model.applyJob()" class="btn btn-primary">
                Apply
            </a>
        </div>
        <div class="col-sm-3">
            <a ng-href="#/user/{{model.userId}}/jobsearch/{{model.jobDetail.jobkey}}/review/new" class="btn btn-primary">
                Write Review
            </a>
        </div>
        <div class="col-sm-3">
            <a ng-href="#/user/{{model.userId}}/jobsearch/{{model.jobDetail.jobkey}}/review" class="btn btn-primary">
                Edit Reviews
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12">
            <h4 id="addComment">Reviews</h4>
            <hr>
            <ul class="media-list comments">
                <div ng-repeat="review in model.reviewResult track by $index">
                    <li class="media">
                        <div class="media-body">
                            <h5 class="media-heading pull-left">
                                <a ng-href="#/user/{{model.userId}}/view/{{review.user_id}}">
                                    {{review.username}}
                                </a></h5>
                            <div class="comment-info pull-left">
                                <div class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-user"></i></div>
                                <div class="btn btn-primary btn-xs">
                                <ul class="list-inline ratings text-center" title="Ratings">
                                    <div style="display:inline-block" ng-repeat="t in model.getTimes(review.rating) track by $index">
                                        <li><span class="fa fa-star fa-lg"></span></li>
                                    </div>
                                </ul>
                                    </div>
                                <div class="btn btn-default btn-xs"><i class="fa fa-clock-o"></i> Posted on {{review.date_posted | date : 'shortDate'}}</div>
                            </div>
                            <br class="clearfix">
                            <p class="well"> {{review.review}}</p>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>