<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/user">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a ng-click="model.logout()" class="font-color"><span class="glyphicon glyphicon-minus-sign font-color"></span> Sign Out</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="job in model.jobResult track by $index" class="col-xs-6">
            <div>
                <a ng-href="#/user/{{model.userId}}/jobsearch/{{job.jobkey}}">
                    {{job.jobtitle}}
                </a>
            </div>
            <div>
                {{job.company}}
            </div>
            <div>
                {{job.city}}
            </div>
        </div>
    </div>
</div>