<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/user">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a ng-click="model.logout()" class="font-color"><span class="glyphicon glyphicon-minus-sign font-color"></span> Sign Out</a>
    </div>
</div>

<div class="container" id="searchable-container">
    <div class="row row-padding">
        <div class="col-xs-4 font-styles font-color">Job Title</div>
        <div class="col-xs-4 font-styles font-color">Location</div>
        <div class="col-xs-4 font-styles font-color">Company</div>
    </div>
    <div class="row row-padding top-buffer" ng-repeat="job in model.jobResult track by $index">
        <div class="col-xs-4"><a ng-href="#/user/{{model.userId}}/jobsearch/{{job.jobkey}}">
            {{job.jobtitle}}
        </a></div>
        <div class="col-xs-4">{{job.city}}</div>
        <div class="col-xs-4">{{job.company}}</div>
    </div>
</div>