input.form-control {
    margin-bottom: 5px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.page-body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.nav-top-space{
    padding-top: 60px;
}
select.form-control {
    margin-bottom: 5px;
}

.media-top-right {
    float: right;
}

.background{
    background-color:#f6f6f6;
}
.media-top li{
    position: relative;
    display: inline;
}

.relative-pos{
    position: relative;
}

.float-bottom-right{
    position: absolute;
    bottom:10px;
    left:40%;
}

.float-bottom-left{
    position: absolute;
    bottom:10px;
    left:40%;
}
.img-responsive-new{
    max-width: 100%;
    display: block;
}
.img-responsive-logo{
    padding-top: 10px;
    width: 75%;
    display: inline;
}
.max-height{
    max-height:100%;
}

.stick-right{
    float: right;
}

.stick-left{
     float: left;
 }

.wrapper {
    overflow:hidden;
}

.wrapper div {
    min-height: 200px;
    padding: 10px;
}
#one {
    float:left;
    width:50%;
}
#two {
    overflow:hidden;

    width:50%;
}

@media screen and (max-width: 400px) {
    #one {
        float: none;
        margin-right: 0;
        width: auto;
    }
}

.font-color{
     color:#777;
 }
.font-styles{
    font-family: Kavoon;
}
.pull-right{
    float:right;
}

div ul li.formdata{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}
.stick-to-left{
    float: left!important;
}
.stick-to-right{
    float: right!important;
    margin: 15px 0px;
    padding-right: 5px;
}
.navbar-brand{
    font-weight: bold;
}
div ul li.pull-right{
    margin-top: 20px;
}
.push-left{
    margin-left: 10px;
}

.comments .media-heading {
    margin-top: 25px;
}

.comments .comment-info {
    margin-left: 6px;
    margin-top: 21px;
}

.comments .comment-info .btn {
    font-size: 0.8em;
}

.comments .comment-info .fa {
    line-height: 10px;
}

.comments .media-body p {
    position: relative;
    background: #F7F7F7;
    padding: 15px;
    margin-top: 20px;
}

.comments .media-body p::before {
    background-color: #F7F7F7;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 30px;
    left: 20px;
    position: absolute;
    top: -13px;
    transform: rotate( 135deg );
    width:  30px;
}

.white {
    color: #fff;
}

.top-buffer { margin-top:10px; }
.bottom-buffer { margin-bottom:15px; }

.icon-space {
    margin-right: 5px;
}