<div class="container-fluid">
    <div class="navbar-header stick-to-left">
        <a class="navbar-brand font-color font-styles" href="#/user">The Job Connector</a>
    </div>
    <div class="stick-to-right">
        <a ng-click="model.logout()" class="font-color"><span class="glyphicon glyphicon-minus-sign font-color"></span> Sign Out</a>
    </div>
</div>
<div class="container">
    <ul class="list-group">
        <li ng-repeat="profile in model.profilelist" class="list-group-item">
            <a href="#/user/{{model.userId}}/view/{{profile._id}}">
                {{profile.firstName}} {{profile.lastName}}
            </a>

            <a href="{{profile.resumeUrl}}" class="pull-right" download>
                <span class="glyphicon glyphicon-download-alt"></span>
            </a>
            <a ng-click="model.selectApplicant(profile._id)" class="pull-right">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
            <a ng-click="model.deleteApplication(profile._id)" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </li>
    </ul>
</div>