
<body>
<div class="container">
    <h1>Register</h1>
    <input type="text"
           class="form-control"
           placeholder="Username"/>
    <input type="password"
           class="form-control"
           placeholder="Password"/>
    <input type="password"
           class="form-control"
           placeholder="Verify password"/>
    <a class="btn btn-primary btn-block"
       href="#/profile">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
</div>
</body>